@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.pageContent {
    display: grid;
    grid-template-rows: 100vh 1fr 100vh 150px;

    .header {
        background: url(images/header.png) no-repeat;
        background-size: cover;        
        position: relative;

        .headerNavWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 100px 0 100px;

            @media (max-width: 1260px) {
                padding: 40px 50px 0 50px;
                flex-direction: column;
            }

            .header__nav {
                font-size: 18px;
                line-height: 40px;
                font-weight: 600;
                letter-spacing: 0.35em;

                
                @media (max-width: 1260px) {
                    margin-top: 20px;
                }

                .header__link {
                    color: #ffffff;
                    text-decoration: none;
                               
                    &:not(:last-child) {
                        margin-right: 50px;
                    }

                    &:nth-child(4) {
                        color: #f84545;
                    }
                }
            }            
        }

        .header__info {
            width: 450px;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -225px;
            margin-top: -75px;

            & div:first-child {
                font-size: 60px;
                line-height: 70px;
                font-weight: 300;
                letter-spacing: 0.6em;
                color: #ffffff;
            }

            & div:last-child a {
                text-decoration: none;
                font-size: 30px;
                line-height: 75px;
                font-weight: 700;
                letter-spacing: 0.4em;
                color: #f84545;
            }
        }

        .header__shopArrow {
            width: 42px;
            height: 42px;
            position: absolute;
            bottom: 70px;
            left: 50%;
            margin-left: -21px;
            border-right: 2px solid #ffffff;
            border-bottom: 2px solid #ffffff;
            transform: rotate(45deg);

            &:hover {
                cursor: pointer;
            }
        }
    }

    .container {
        margin: 0 auto;

        .productsSection {
            padding-top: 100px;
            padding-bottom: 100px;
            display: grid;
            // grid-template-columns: 463px 463px 463px;
            // grid-template-rows: 360px 360px 580px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr 2fr;
            gap: 50px;
            

            .shop1 {
                grid-column: 1 / 3;
                grid-row: 1 / 3;                
            }

            .shopSection {
                position: relative;

                
                .shopSection__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: right;
                }

                .shopSection__logo {
                    position: absolute;
                    left: 40px;
                    bottom: 140px;

                    @media (max-width: 1024px) {
                        left: 20px;
                        bottom: 85px;
                    }
                }

                .shopSection__text {
                    position: absolute;
                    left: 40px;
                    bottom: 20px;
                    font-size: 40px;
                    font-weight: 300;
                    letter-spacing: 0.4em;
                    color: #ffffff;

                    @media (max-width: 1260px) {
                        font-size: 30px;
                    }

                    @media (max-width: 1024px) {
                        font-size: 26px;
                    }
                }
            }
        }
    }
    
    .presentationWrapper{
        position: relative;

        .presentation__text {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background: #1a1a1a;
            z-index: 9999;
            top: 0;
        

            & div:first-child a {
                font-size: 52px;
                line-height: 70px;
                font-weight: 300;
                letter-spacing: 0.6em;
                color: #ffffff;
                text-decoration: none;

                @media (max-width: 1260px) {
                    font-size: 40px;
                }

                @media (max-width: 1024px) {
                    font-size: 32px;
                }
            }

            & div:last-child {
                font-size: 30px;
                line-height: 75px;
                font-weight: 700;
                letter-spacing: 0.4em;
                color: #f84545;
            }
        }

        .presentationInInsta {
            display: grid;
            height: 100vh;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            position: relative;        

            .item1 {
                background: url(images/footer_1.png) no-repeat;
                background-size: cover;
            }

            .item2 {
                background: url(images/footer_2.png) no-repeat;
                background-size: cover;
            }
            
            .item3 {
                background: url(images/footer_3.png) no-repeat;
                background-size: cover;
            }

            .item4 {
                background: url(images/footer_4.png) no-repeat;
                background-size: cover;
            }

            .item5 {
                background: url(images/footer_5.png) no-repeat;
                background-size: cover;
            }

            .item6 {
                background: url(images/footer_6.png) no-repeat;
                background-size: cover;
            }

            .item7 {
                background: url(images/footer_7.png) no-repeat;
                background-size: cover;
            }

            .item8 {
                background: url(images/footer_8.png) no-repeat;
                background-size: cover;
            }
        }
    }
    

    .footer {
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1260px) {
            padding: 0 50px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            line-height: 40px;
            font-weight: 600;
            letter-spacing: 0.35em;            
            
            .footer__link {                
                text-decoration: none;                
                color: #1a1a1a;
            
                &:not(:last-child) {
                    margin-right: 50px;
                }
            }
        }
        
        &__socials {
            display: flex;
            justify-content: space-between;

            @media (max-width: 1260px) {
                margin-top: 20px;
            }
        }

        &__social {
            font-size: 18px;
            color: #1a1a1a;
        }

        &__social:not(:last-child) {
            margin-right: 2em;        
        }

        &__social:hover {
            cursor: pointer;
            color: #f84545;
        }
    }

}