.footerCopyright{
    height: 79px;
    background-color: #e6e6e6;
    margin-top: 89px;
    display: flex;
    align-items: center;

    @media (max-width: 555px) {
        margin-top: 40px;
    }


    .footerCopyrightWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 555px) {
            flex-direction: column;
            padding-bottom: 20px;
            align-items: center;
        }

        .footerCopyright__text{
            font-size: 16px;
            line-height: 42px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #7a7a7a;

            @media (max-width: 555px) {
                font-size: 12px;
            }
        }

        .footerCopyright__links {
            display: flex;

            .footerCopyright__link {
                width: 32px;
                height: 32px;
                background-color: #ffffff;
                margin-right: 8px;
                text-rendering: auto;

                &:hover {
                    background-color: #f16d7f;
                    cursor: pointer;
                }

                i {
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0.025em;
                    color: #b2b2b2;
                    padding: 8px;
                }              
            }
        }
    }
}