.topNav {

    @media (max-width: 320px) {
        flex-direction: column;
        align-items: center;
    }

    a {
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
        border-bottom: 2px solid transparent;
    }

    a:hover {
        border-bottom: 2px solid #ef5b70;
    }
}