@charset "UTF-8";
@import url(header__style.css);
@import url(footer__style.css);
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

button {
  outline: none;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.main--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

.main--nav a {
  text-decoration: none;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 3px solid transparent;
}

.main--nav a:hover {
  border-bottom: 3px solid #ef5b70;
}

.main--nav a:not(:last-child) {
  margin-right: 30px;
}

.banner {
  height: 665px;
  background-color: #e8e8e8;
}

.banner--content {
  height: inherit;
  background: url(../images/topHeaderBack.png) no-repeat 535px 0;
  background-size: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner--content--info {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  font-weight: 900;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.banner--content--info div:first-child {
  font-size: 60px;
  line-height: 43px;
  letter-spacing: 0.025em;
  color: #222222;
}

.banner--content--info div:last-child {
  font-size: 40px;
  line-height: 70px;
}

.banner--content--info:last-child span {
  color: #f16d7f;
}

.top--offers {
  background-color: #ffffff;
  font-weight: 900;
  margin-top: 98px;
  position: relative;
}

.top--offers--label {
  width: 175px;
  background-color: #ffffff;
  padding: 16px 20px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 42px;
}

.offers--label--top {
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.offers--label--bottom {
  font-size: 30px;
  color: #f16d7f;
}

.offer1 {
  width: 560px;
  height: 542px;
  background-image: url(../images/offer1.jpg);
}

.offer2 {
  width: 560px;
  height: 261px;
  background-image: url(../images/offer2.jpg);
  margin-top: 20px;
}

.offer3 {
  width: 560px;
  height: 261px;
  background-image: url(../images/offer3.jpg);
  position: absolute;
  top: 0;
  right: 0;
}

.offer4 {
  width: 560px;
  height: 542px;
  background-image: url(../images/offer4.jpg);
  position: absolute;
  bottom: 0;
  right: 0;
}

.featured--head {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.featured--head div:first-child {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.featured--head div:last-child {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  margin-top: 16px;
}

.featured--goods {
  position: relative;
}

.featured--goods::after {
  content: '';
  display: block;
  clear: both;
}

.featured--goods--item {
  float: left;
}

.featured--goods--item:nth-child(n+5) {
  margin-top: 27px;
}

.featured--goods--item:not(:nth-child(4n)) {
  margin-right: 27px;
}

.item--img {
  width: 261px;
  height: 280px;
}

.item--name {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin: 19px auto;
  padding: 0 10px;
}

.item--price--wrapper {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--rating {
  display: none;
}

.item--add {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 261px;
  height: 280px;
  background-color: rgba(58, 56, 56, 0.83);
}

.item--add button {
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  background: none;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item--add button:hover {
  cursor: pointer;
}

.item--add button img {
  padding-right: 7px;
}

.featured--goods--item:hover {
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.featured--goods--item:hover .item--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured--goods--item:hover .item--rating {
  display: block;
}

.featured--goods--item {
  margin-top: 40px;
  position: relative;
}

.item1 .item--img {
  background: url(../images/item1.png);
}

.item2 .item--img {
  background: url(../images/item2.png);
}

.item3 .item--img {
  background: url(../images/item3.png);
}

.item4 .item--img {
  background: url(../images/item4.png);
}

.item5 .item--img {
  background: url(../images/item5.png);
}

.item6 .item--img {
  background: url(../images/item6.png);
}

.item7 .item--img {
  background: url(../images/item7.png);
}

.item8 .item--img {
  background: url(../images/item8.png);
}

.browserBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured--browseAllProductsbtn {
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 18px 24px;
  margin-top: 80px;
  border: none;
}

.featured--browseAllProductsbtn i {
  padding-left: 9px;
}

.featured--browseAllProductsbtn:hover {
  cursor: pointer;
}

.speсial--offer {
  height: 529px;
  margin-top: 113px;
  margin-bottom: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.speсial--offer--info {
  height: inherit;
  background: url(../images/offer.png) no-repeat;
  background-size: cover;
  width: 767px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.speсial--offer--details {
  height: inherit;
  background-color: #222224;
  color: #fbfbfb;
}

.special--offer--info--banner {
  display: inline-block;
  margin-top: 146px;
  margin-left: 40px;
}

.soib--top {
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.soib--top span {
  color: #f16d7f;
}

.soib--bottom {
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  font-size: 32.2px;
}

.offer--unit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 35px 35px 30px 100px;
}

.offer--unit:first-child {
  background: url(../images/marker1.svg) no-repeat 26px 30px;
}

.offer--unit:nth-child(2) {
  background: url(../images/marker2.svg) no-repeat 26px 30px;
}

.offer--unit:last-child {
  background: url(../images/marker3.svg) no-repeat 26px 30px;
}

.sod--header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.025em;
}

.sod--info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  text-align: justify;
  margin-top: 15px;
}

.new--arrival--wrapper {
  height: 148px;
  background-color: #f8f3f4;
}

.new--arrival {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new--arrival--header {
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.new--arrival--path {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  text-decoration: none;
}

.new--arrival--path a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
  text-decoration: none;
}

.new--arrival--path a:last-child {
  font-weight: 700;
  color: #f16d7f;
}

.new--arrival--path a:hover {
  font-weight: 700;
  color: #f16d7f;
}

.shoping--cart {
  margin-bottom: 44px;
  margin-top: 90px;
}

.shoping--cart--row {
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  padding-top: 22px;
}

.shoping--cart--row > div:first-child {
  width: 40%;
}

.shoping--cart--row div:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shoping--cart--row--head {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.price {
  width: 76px;
}

.quantity {
  width: 65px;
  border: 1px solid #eaeaea;
  padding: 10px 0;
  text-align: center;
}

.quantity:focus {
  outline: none;
  border: 1px solid gray;
}

.shipping {
  width: 59px;
}

.subtotal {
  width: 63px;
}

.action {
  width: 48.5px;
}

.shoping--cart--row--product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shoping--cart--product--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 22px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.shoping--cart--product--img {
  width: 100px;
  height: 115px;
}

.product--info--header {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 38px;
}

.product--info--detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 300;
  color: #6f6e6e;
}

.product--info--detail--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product--info--detail--row div:first-child {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
  margin-right: 8px;
}

.shopping--cart--button--wrapper {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shopping--cart--button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 20px 40px;
  border: 1px solid #eaeaea;
}

.shopping--cart--button:hover {
  cursor: pointer;
}

.check--out--wrapper {
  margin-top: 63px;
  margin-bottom: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping--address--wrapper {
  width: 355px;
}

.shopping--data {
  height: 45px;
  width: 100%;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  outline: none;
  padding-left: 18px;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #b1b1b1;
}

.shopping--data:focus {
  border: 1px solid grey;
}

.shopping--data::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
}

.shopping--data:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
}

.shopping--data::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
}

.shopping--data::placeholder {
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
}

.check--out--wrapper h2 {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.shopping--address--wrapper button {
  width: 100px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}

.coupon--discont--wrapper {
  width: 355px;
}

.shopping--address--wrapper button:hover {
  cursor: pointer;
}

.coupon--discont--wrapper button {
  font-size: 14px;
  font-weight: 300;
  padding: 12px 18px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  color: #4a4a4a;
}

.coupon--discont--wrapper button:hover {
  cursor: pointer;
}

.coupon--discont--wrapper label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-bottom: 24px;
}

.grand--total-wrapper {
  height: 147px;
  background-color: #f5f3f3;
  padding: 40px;
}

.grand--total--sub {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
  text-align: right;
}

.grand--total--sub span:last-child {
  margin-left: 18px;
}

.grand--total--grand {
  text-align: right;
  margin-top: 14px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 22px;
  margin-bottom: 22px;
}

.grand--total--grand span:last-child {
  margin-left: 18px;
  color: #f16d7f;
}

.grand--total-wrapper button {
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 19px 42px;
  border: none;
  outline: none;
}

.grand--total-wrapper button:hover {
  cursor: pointer;
}

.product--image--wrapper {
  height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
  position: relative;
}

.product--image--wrapper img {
  display: block;
  margin: 0 auto;
}

.product--image--wrapper .img--scroller--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product--image--wrapper .img--scroller--wrapper .img--scroller {
  width: 47px;
  height: 47px;
  line-height: 45px;
  text-align: center;
  background: rgba(42, 42, 42, 0.14);
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: calc(50% - 23.5px);
}

.product--image--wrapper .img--scroller--wrapper .img--scroller:hover {
  cursor: pointer;
}

.product--image--wrapper .img--scroller--wrapper .img--scroller:last-child {
  right: 0;
}

.product--data--wrapper {
  position: relative;
  top: -86px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 73px;
  padding-bottom: 112px;
}

.product--data--wrapper .product--data {
  width: 620px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product--data--wrapper .product--data .product--header {
  font-size: 14px;
  font-weight: 700;
  color: #f16d7f;
  padding-bottom: 15px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.product--data--wrapper .product--data .product--header::after {
  content: '';
  display: block;
  width: 64px;
  height: 3px;
  background-color: #ef5b70;
  position: absolute;
  bottom: -2px;
  left: calc(50% - 64px / 2);
}

.product--data--wrapper .product--data .product--name {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 67px;
  text-align: center;
}

.product--data--wrapper .product--data .product--descr {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
}

.product--data--wrapper .product--data .product--details {
  margin-top: 28px;
  margin-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.product--data--wrapper .product--data .product--details div:first-child {
  margin-right: 44px;
}

.product--data--wrapper .product--data .product--details .product--param {
  color: #b9b9b9;
}

.product--data--wrapper .product--data .product--details .product--value {
  color: #2f2f2f;
}

.product--data--wrapper .product--data .product--price {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  border-bottom: 1px solid #eaeaea;
}

.product--data--wrapper .product--data .product--order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 538px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 63px;
}

.product--data--wrapper .product--data .product--order .product--order--unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product--data--wrapper .product--data .product--order .product--order--unit :not(:last-child) {
  margin-right: 52px;
}

.product--data--wrapper .product--data .product--order .product--order--unit .product--order--label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}

.product--data--wrapper .product--data .product--order .product--order--unit .product--order--select--wrapper {
  position: relative;
  margin-top: 16px;
  margin-bottom: 28px;
  width: 144px;
}

.product--data--wrapper .product--data .product--order .product--order--unit .product--order--select--wrapper i {
  color: #bcbcbc;
  position: absolute;
  left: 125px;
  top: 15px;
  font-size: 12px;
}

.product--data--wrapper .product--data .product--order .product--order--unit .product--order--select--wrapper .product--order--color {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  left: 12px;
  background: #ef5b70;
}

.product--data--wrapper .product--data .product--order .product--order--unit .product--order--select--wrapper .product--order--select {
  width: 100%;
  padding: 12px 0 12px 18px;
  border: 1px solid #eaeaea;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #bcbcbc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.product--data--wrapper .product--data .product--order .product--order--btn {
  width: 100%;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ef5b70;
  padding-top: 23px;
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product--data--wrapper .product--data .product--order .product--order--btn img {
  padding-right: 15px;
}

.product--data--wrapper .product--data .product--order .product--order--btn:hover {
  cursor: pointer;
}

.featured h2 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 72px;
}

.featured .product1 .item--img {
  background: url(../images/likealsoproduct1.png) no-repeat;
  background-position: center;
  background-color: #e9e9e9;
}

.featured .product2 .item--img {
  background: url(../images/likealsoproduct2.png) no-repeat;
  background-position: center bottom;
  background-color: #e9e9e9;
}

.featured .product3 .item--img {
  background: url(../images/likealsoproduct3.png) no-repeat;
  background-position: center;
  background-color: #e9e9e9;
}

.featured .product4 .item--img {
  background: url(../images/likealsoproduct4.png) no-repeat;
  background-position: center;
  background-color: #e9e9e9;
}
/*# sourceMappingURL=style.css.map */